WebRoot/WEB-INF/wsdl/AssessImplementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.process.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssessImplementService" targetNamespace="http://service.process.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.process.com/" schemaLocation="AssessImplementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="get_UserTag">
    <part element="tns:get_UserTag" name="parameters"/>
  </message>
  <message name="get_UserTagResponse">
    <part element="tns:get_UserTagResponse" name="parameters"/>
  </message>
  <message name="give_loveassess">
    <part element="tns:give_loveassess" name="parameters"/>
  </message>
  <message name="give_loveassessResponse">
    <part element="tns:give_loveassessResponse" name="parameters"/>
  </message>
  <message name="give_hateveassess">
    <part element="tns:give_hateveassess" name="parameters"/>
  </message>
  <message name="give_hateveassessResponse">
    <part element="tns:give_hateveassessResponse" name="parameters"/>
  </message>
  <message name="give_commentassess">
    <part element="tns:give_commentassess" name="parameters"/>
  </message>
  <message name="give_commentassessResponse">
    <part element="tns:give_commentassessResponse" name="parameters"/>
  </message>
  <message name="give_levelassess">
    <part element="tns:give_levelassess" name="parameters"/>
  </message>
  <message name="give_levelassessResponse">
    <part element="tns:give_levelassessResponse" name="parameters"/>
  </message>
  <message name="customize_usertag">
    <part element="tns:customize_usertag" name="parameters"/>
  </message>
  <message name="customize_usertagResponse">
    <part element="tns:customize_usertagResponse" name="parameters"/>
  </message>
  <message name="undo_usertag">
    <part element="tns:undo_usertag" name="parameters"/>
  </message>
  <message name="undo_usertagResponse">
    <part element="tns:undo_usertagResponse" name="parameters"/>
  </message>
  <message name="collect_singer">
    <part element="tns:collect_singer" name="parameters"/>
  </message>
  <message name="collect_singerResponse">
    <part element="tns:collect_singerResponse" name="parameters"/>
  </message>
  <message name="get_RecordsByPage">
    <part element="tns:get_RecordsByPage" name="parameters"/>
  </message>
  <message name="get_RecordsByPageResponse">
    <part element="tns:get_RecordsByPageResponse" name="parameters"/>
  </message>
  <message name="get_User">
    <part element="tns:get_User" name="parameters"/>
  </message>
  <message name="get_UserResponse">
    <part element="tns:get_UserResponse" name="parameters"/>
  </message>
  <message name="get_Assess">
    <part element="tns:get_Assess" name="parameters"/>
  </message>
  <message name="get_AssessResponse">
    <part element="tns:get_AssessResponse" name="parameters"/>
  </message>
  <message name="get_FavorSingerByPage">
    <part element="tns:get_FavorSingerByPage" name="parameters"/>
  </message>
  <message name="get_FavorSingerByPageResponse">
    <part element="tns:get_FavorSingerByPageResponse" name="parameters"/>
  </message>
  <message name="collect_song">
    <part element="tns:collect_song" name="parameters"/>
  </message>
  <message name="collect_songResponse">
    <part element="tns:collect_songResponse" name="parameters"/>
  </message>
  <message name="get_Friend">
    <part element="tns:get_Friend" name="parameters"/>
  </message>
  <message name="get_FriendResponse">
    <part element="tns:get_FriendResponse" name="parameters"/>
  </message>
  <message name="get_Notice">
    <part element="tns:get_Notice" name="parameters"/>
  </message>
  <message name="get_NoticeResponse">
    <part element="tns:get_NoticeResponse" name="parameters"/>
  </message>
  <portType name="AssessImplementDelegate">
    <operation name="get_UserTag">
      <input message="tns:get_UserTag"/>
      <output message="tns:get_UserTagResponse"/>
    </operation>
    <operation name="give_loveassess">
      <input message="tns:give_loveassess"/>
      <output message="tns:give_loveassessResponse"/>
    </operation>
    <operation name="give_hateveassess">
      <input message="tns:give_hateveassess"/>
      <output message="tns:give_hateveassessResponse"/>
    </operation>
    <operation name="give_commentassess">
      <input message="tns:give_commentassess"/>
      <output message="tns:give_commentassessResponse"/>
    </operation>
    <operation name="give_levelassess">
      <input message="tns:give_levelassess"/>
      <output message="tns:give_levelassessResponse"/>
    </operation>
    <operation name="customize_usertag">
      <input message="tns:customize_usertag"/>
      <output message="tns:customize_usertagResponse"/>
    </operation>
    <operation name="undo_usertag">
      <input message="tns:undo_usertag"/>
      <output message="tns:undo_usertagResponse"/>
    </operation>
    <operation name="collect_singer">
      <input message="tns:collect_singer"/>
      <output message="tns:collect_singerResponse"/>
    </operation>
    <operation name="get_RecordsByPage">
      <input message="tns:get_RecordsByPage"/>
      <output message="tns:get_RecordsByPageResponse"/>
    </operation>
    <operation name="get_User">
      <input message="tns:get_User"/>
      <output message="tns:get_UserResponse"/>
    </operation>
    <operation name="get_Assess">
      <input message="tns:get_Assess"/>
      <output message="tns:get_AssessResponse"/>
    </operation>
    <operation name="get_FavorSingerByPage">
      <input message="tns:get_FavorSingerByPage"/>
      <output message="tns:get_FavorSingerByPageResponse"/>
    </operation>
    <operation name="collect_song">
      <input message="tns:collect_song"/>
      <output message="tns:collect_songResponse"/>
    </operation>
    <operation name="get_Friend">
      <input message="tns:get_Friend"/>
      <output message="tns:get_FriendResponse"/>
    </operation>
    <operation name="get_Notice">
      <input message="tns:get_Notice"/>
      <output message="tns:get_NoticeResponse"/>
    </operation>
  </portType>
  <binding name="AssessImplementPortBinding" type="tns:AssessImplementDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="get_UserTag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="give_loveassess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="give_hateveassess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="give_commentassess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="give_levelassess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="customize_usertag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="undo_usertag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="collect_singer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_RecordsByPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_User">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_Assess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_FavorSingerByPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="collect_song">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_Friend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_Notice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AssessImplementService">
    <port binding="tns:AssessImplementPortBinding" name="AssessImplementPort">
      <soap:address location="http://localhost:8080/Jing/AssessImplementPort"/>
    </port>
  </service>
</definitions>
