WebRoot/WEB-INF/wsdl/RecommendImplementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.process.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecommendImplementService" targetNamespace="http://service.process.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.process.com/" schemaLocation="RecommendImplementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="create_randomlabel">
    <part element="tns:create_randomlabel" name="parameters"/>
  </message>
  <message name="create_randomlabelResponse">
    <part element="tns:create_randomlabelResponse" name="parameters"/>
  </message>
  <message name="hongxindiantai">
    <part element="tns:hongxindiantai" name="parameters"/>
  </message>
  <message name="hongxindiantaiResponse">
    <part element="tns:hongxindiantaiResponse" name="parameters"/>
  </message>
  <message name="suibiantingting">
    <part element="tns:suibiantingting" name="parameters"/>
  </message>
  <message name="suibiantingtingResponse">
    <part element="tns:suibiantingtingResponse" name="parameters"/>
  </message>
  <message name="zhinengtuijian">
    <part element="tns:zhinengtuijian" name="parameters"/>
  </message>
  <message name="zhinengtuijianResponse">
    <part element="tns:zhinengtuijianResponse" name="parameters"/>
  </message>
  <message name="RecommendSinger_BySinger">
    <part element="tns:RecommendSinger_BySinger" name="parameters"/>
  </message>
  <message name="RecommendSinger_BySingerResponse">
    <part element="tns:RecommendSinger_BySingerResponse" name="parameters"/>
  </message>
  <message name="RecommendSong_BySong">
    <part element="tns:RecommendSong_BySong" name="parameters"/>
  </message>
  <message name="RecommendSong_BySongResponse">
    <part element="tns:RecommendSong_BySongResponse" name="parameters"/>
  </message>
  <message name="RecommendSinger_ByPage">
    <part element="tns:RecommendSinger_ByPage" name="parameters"/>
  </message>
  <message name="RecommendSinger_ByPageResponse">
    <part element="tns:RecommendSinger_ByPageResponse" name="parameters"/>
  </message>
  <message name="GuessSong_ByPage">
    <part element="tns:GuessSong_ByPage" name="parameters"/>
  </message>
  <message name="GuessSong_ByPageResponse">
    <part element="tns:GuessSong_ByPageResponse" name="parameters"/>
  </message>
  <message name="Recommend_ByRanking">
    <part element="tns:Recommend_ByRanking" name="parameters"/>
  </message>
  <message name="Recommend_ByRankingResponse">
    <part element="tns:Recommend_ByRankingResponse" name="parameters"/>
  </message>
  <message name="RecommendSong_BySingers">
    <part element="tns:RecommendSong_BySingers" name="parameters"/>
  </message>
  <message name="RecommendSong_BySingersResponse">
    <part element="tns:RecommendSong_BySingersResponse" name="parameters"/>
  </message>
  <message name="get_currentlabel">
    <part element="tns:get_currentlabel" name="parameters"/>
  </message>
  <message name="get_currentlabelResponse">
    <part element="tns:get_currentlabelResponse" name="parameters"/>
  </message>
  <message name="RecommendSimilarSinger">
    <part element="tns:RecommendSimilarSinger" name="parameters"/>
  </message>
  <message name="RecommendSimilarSingerResponse">
    <part element="tns:RecommendSimilarSingerResponse" name="parameters"/>
  </message>
  <portType name="RecommendImplementDelegate">
    <operation name="create_randomlabel">
      <input message="tns:create_randomlabel"/>
      <output message="tns:create_randomlabelResponse"/>
    </operation>
    <operation name="hongxindiantai">
      <input message="tns:hongxindiantai"/>
      <output message="tns:hongxindiantaiResponse"/>
    </operation>
    <operation name="suibiantingting">
      <input message="tns:suibiantingting"/>
      <output message="tns:suibiantingtingResponse"/>
    </operation>
    <operation name="zhinengtuijian">
      <input message="tns:zhinengtuijian"/>
      <output message="tns:zhinengtuijianResponse"/>
    </operation>
    <operation name="RecommendSinger_BySinger">
      <input message="tns:RecommendSinger_BySinger"/>
      <output message="tns:RecommendSinger_BySingerResponse"/>
    </operation>
    <operation name="RecommendSong_BySong">
      <input message="tns:RecommendSong_BySong"/>
      <output message="tns:RecommendSong_BySongResponse"/>
    </operation>
    <operation name="RecommendSinger_ByPage">
      <input message="tns:RecommendSinger_ByPage"/>
      <output message="tns:RecommendSinger_ByPageResponse"/>
    </operation>
    <operation name="GuessSong_ByPage">
      <input message="tns:GuessSong_ByPage"/>
      <output message="tns:GuessSong_ByPageResponse"/>
    </operation>
    <operation name="Recommend_ByRanking">
      <input message="tns:Recommend_ByRanking"/>
      <output message="tns:Recommend_ByRankingResponse"/>
    </operation>
    <operation name="RecommendSong_BySingers">
      <input message="tns:RecommendSong_BySingers"/>
      <output message="tns:RecommendSong_BySingersResponse"/>
    </operation>
    <operation name="get_currentlabel">
      <input message="tns:get_currentlabel"/>
      <output message="tns:get_currentlabelResponse"/>
    </operation>
    <operation name="RecommendSimilarSinger">
      <input message="tns:RecommendSimilarSinger"/>
      <output message="tns:RecommendSimilarSingerResponse"/>
    </operation>
  </portType>
  <binding name="RecommendImplementPortBinding" type="tns:RecommendImplementDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="create_randomlabel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hongxindiantai">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="suibiantingting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="zhinengtuijian">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecommendSinger_BySinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecommendSong_BySong">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecommendSinger_ByPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GuessSong_ByPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Recommend_ByRanking">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecommendSong_BySingers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_currentlabel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RecommendSimilarSinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RecommendImplementService">
    <port binding="tns:RecommendImplementPortBinding" name="RecommendImplementPort">
      <soap:address location="http://localhost:8080/Jing/RecommendImplementPort"/>
    </port>
  </service>
</definitions>
