WebRoot/WEB-INF/wsdl/SearchImplementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.process.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchImplementService" targetNamespace="http://service.process.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.process.com/" schemaLocation="SearchImplementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="find_matchlabel">
    <part element="tns:find_matchlabel" name="parameters"/>
  </message>
  <message name="find_matchlabelResponse">
    <part element="tns:find_matchlabelResponse" name="parameters"/>
  </message>
  <message name="find_songlist_by_input">
    <part element="tns:find_songlist_by_input" name="parameters"/>
  </message>
  <message name="find_songlist_by_inputResponse">
    <part element="tns:find_songlist_by_inputResponse" name="parameters"/>
  </message>
  <message name="find_song_by_id">
    <part element="tns:find_song_by_id" name="parameters"/>
  </message>
  <message name="find_song_by_idResponse">
    <part element="tns:find_song_by_idResponse" name="parameters"/>
  </message>
  <message name="find_songlist_by_input_Basic">
    <part element="tns:find_songlist_by_input_Basic" name="parameters"/>
  </message>
  <message name="find_songlist_by_input_BasicResponse">
    <part element="tns:find_songlist_by_input_BasicResponse" name="parameters"/>
  </message>
  <portType name="SearchImplementDelegate">
    <operation name="find_matchlabel">
      <input message="tns:find_matchlabel"/>
      <output message="tns:find_matchlabelResponse"/>
    </operation>
    <operation name="find_songlist_by_input">
      <input message="tns:find_songlist_by_input"/>
      <output message="tns:find_songlist_by_inputResponse"/>
    </operation>
    <operation name="find_song_by_id">
      <input message="tns:find_song_by_id"/>
      <output message="tns:find_song_by_idResponse"/>
    </operation>
    <operation name="find_songlist_by_input_Basic">
      <input message="tns:find_songlist_by_input_Basic"/>
      <output message="tns:find_songlist_by_input_BasicResponse"/>
    </operation>
  </portType>
  <binding name="SearchImplementPortBinding" type="tns:SearchImplementDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="find_matchlabel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="find_songlist_by_input">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="find_song_by_id">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="find_songlist_by_input_Basic">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SearchImplementService">
    <port binding="tns:SearchImplementPortBinding" name="SearchImplementPort">
      <soap:address location="http://localhost:8080/Jing/SearchImplementPort"/>
    </port>
  </service>
</definitions>
